{
  "__inherits": "staxel/tileObject/base.config",
  "autoTileInfo": [
    {
      "directionsToLookIn": [
        {
          "direction": "left",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "tileToPlace": "mods.ExpandedFurniture.MushroomSet.DeeperMushroom1Wall",
          "rotation": 1
        }
      ]
    },
    {
      "directionsToLookIn": [
        {
          "direction": "back",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "tileToPlace": "mods.ExpandedFurniture.MushroomSet.DeeperMushroom1Wall",
          "rotation": 2
        }
      ]
    },
    {
      "directionsToLookIn": [
        {
          "direction": "right",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "tileToPlace": "mods.ExpandedFurniture.MushroomSet.DeeperMushroom1Wall",
          "rotation": 3
        }
      ]
    },
	{
      "directionsToLookIn": [
        {
          "direction": "up",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "tileToPlace": "mods.ExpandedFurniture.MushroomSet.DeeperMushroom1Ceiling",
          "rotation": 1
        }
      ]
    },
	    {
      "directionsToLookIn": [
        {
          "direction": "down",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "tileToPlace": "mods.ExpandedFurniture.MushroomSet.DeeperMushroom1Floor",
          "rotation": 1
        }
      ]
    },

  ],
  "randomizePosition": false,
  "attachToBelow": false,
  "attachToSide": true,
  "placementDirections": [
    "zn"
  ],
  "pathFindingNoCollision": true
}
