{
  "__inherits": "staxel/docks/dockBase.config",
  "dockDefinition": "mods.ExpandedFurniture.SpookySet.Dock.SpookyDoubleBed",
  "compound": {
    "size": {
      "x": 3,
      "y": 3,
      "z": 3
    },
    "specification": "\n\t\t\tEEE EEE EEE\n\t\t\tEEE EEE EEE\n\t\t\tCCC CXC CCC"
  },
  "interactVerb": "controlHint.verb.Sleep"
}
